<div class="text-center">
    <div class="d-inline-block border border-warning rounded px-5 my-5">
        <h2 class="fs-2 my-5 text-warning">Componente Figlio</h2>

        <p class="fs-3 my-5 text-white">
            Messaggio dal componente padre --->
            <span class="text-success">{{ newString }}</span>
        </p>

        <mdb-form-control class="form-white mb-3">
            <input mdbInput type="text" id="formWhite" class="form-control" #newMessage />
            <label mdbLabel class="form-label fs-5" for="formWhite">
                Invia un messaggio al componente padre
            </label>
        </mdb-form-control>
        <button type="button" class="btn btn-light mb-5 mt-2 fs-6" (click)="sendMessage(newMessage.value)">
            Invia
        </button>
    </div>
</div>
