<div class="fs-2 text-white mb-4 fw-bold" *ngIf="isLoaded">
  {{question}}
</div>
<div class="text-center">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value={{true}} [(ngModel)]="correctAnswer" />
    <label class="form-check-label" for="inlineCheckbox1" class="fs-6 text-white fw-bold">True</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value={{true}} [(ngModel)]="wrongAnswer" />
    <label class="form-check-label" for="inlineCheckbox2" class="fs-6 text-white fw-bold">False</label>
  </div>

  <div *ngIf="correctAnswer === true" class="fs-6 text-white fw-bold">Corretto</div>
  <div *ngIf="wrongAnswer === true" class="fs-6 text-white fw-bold">Sbagliato</div>


  <div class="spinner-border text-info" role="status" *ngIf="!isLoaded">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
