<div class="my-5 text-center">
    <button type="button" class="mx-2 btn btn-primary">Primary</button>
    <button type="button" class="mx-2 btn btn-secondary">Secondary</button>
    <button type="button" class="mx-2 btn btn-success">Success</button>
    <button type="button" class="mx-2 btn btn-danger">Danger</button>
    <button type="button" class="mx-2 btn btn-warning">Warning</button>
    <button type="button" class="mx-2 btn btn-info">Info</button>
    <button type="button" class="mx-2 btn btn-light">Light</button>
    <button type="button" class="mx-2 btn btn-dark">Dark</button>
    <button type="button" class="mx-2 btn btn-link">Link</button>
</div>
