<p-card >
  <h2 class="fs-2 fw-bold">
    {{ myTitle | uppercase }}
  </h2>

  <p-scrollPanel [style]="{width: '100%', height: '200px'}" class="text-start ">
    {{ myText | lowercase }}
</p-scrollPanel>

</p-card>
