<p-card class="text-center">
  <h3 class="fs-3 fw-bold text-center">
      Posti Cinema
  </h3>
  <h5 class="fs-4">Posti liberi: {{howManyFree(seats)}}</h5>
  <ul>
    <li *ngFor="let seat of freeAndTaken(seats)">
      {{seat}}
    </li>
  </ul>
</p-card>
