<main>
    <h2 class="fs-1 mt-5 text-center text-info">Componente padre</h2>

    <p class="fs-3 mt-5 text-white text-center">
        Messaggio dal componente figlio ---> <span class="text-warning">{{receivedMessage}}</span>
    </p>

    <app-child-component [newString]="greating" (newEvent)="getMessage($event)"></app-child-component>

    <div class="container mb-5 mt-3">

        <div class="row justify-content-center mb-5">

            <div class="col-5 mx-3">

                <div class="fs-3 text-white mb-4 fw-bold">
                    Prova ngModel: <span class="text-info fs-2">{{ngTest}}</span>
                </div>

                <mdb-form-control class="form-white mb-3">

                    <input mdbInput type="text" id="formWhite" class="form-control text-info" [(ngModel)]="ngTest" />

                    <label mdbLabel class="form-label fs-6" for="formWhite">
                        Scrivi qualcosa
                    </label>

                </mdb-form-control>

            </div>

            <div class="col-5 text-center mx-3">

                <div class="fs-3 text-white mb-4 fw-bold">
                    Fai la somma di due numeri
                </div>

                <p-inputNumber [(ngModel)]="num1" mode="decimal"></p-inputNumber>

                <span class="mx-3 text-white fs-3">+</span>

                <p-inputNumber [(ngModel)]="num2" mode="decimal"></p-inputNumber>

                <div class="text-info fs-1 mt-5 fw-bold" *ngIf="num1 != 0 && num2 != 0">
                    {{num1 + num2}}
                </div>

            </div>
        </div>

        <div class="row justify-content-center mt-5 mb-5">

            <div class="col-4 text-center">
                <div class="fs-1 fw-bold mb-4" [ngStyle]="{'color': color}">Cambia colore!</div>

                <p-colorPicker [(ngModel)]="color"></p-colorPicker>
            </div>

            <div class="col-4 text-center" [ngSwitch]="true">
                <div class="text-warning fs-3 fw-bold" *ngSwitchCase="isOn">
                    On
                </div>
                <div class="text-disabled fs-3 fw-bold" *ngSwitchCase="isOn == false">
                    Off
                </div>
                <button pButton type="button" label="Switch" class="p-button-warning mt-4" (click)="onOff()"></button>
            </div>

        </div>

        <div class="row justify-content-center align-items-center my-5 pb-3 pt-5">

            <div class="col-5  text-white fs-3">
                <div class="fs-2 text-info mb-4 fw-bold">
                    Pipes:
                </div>
                <ul>
                    <li class="mb-3">
                        Formatted date: <span class="text-info"> {{ myTime | date : 'dd/MM/YYYY' }}</span>
                    </li>
                    <li class="mb-3">
                        Slice: <span class="text-info"> {{ 'Buongiorno' | slice : 0 : 5 }}</span>
                    </li>
                    <li class="mb-3">
                        In Uppercase: <span class="text-info"> {{ 'ciao' | uppercase }}</span>
                    </li>

                    <li class="pt-4">

                        <div class="fs-4 text-white mb-4 fw-bold">
                            Custom Pipe (Greatings)
                        </div>

                        <mdb-form-control class="form-white mb-3 w-50">

                            <input mdbInput type="text" id="formWhite" class="form-control text-info"
                                [(ngModel)]="myName" />

                            <label mdbLabel class="form-label fs-6" for="formWhite">
                                Scrivi il tuo nome!
                            </label>

                        </mdb-form-control>

                        <div class="text-info" *ngIf="myName != ''"> {{ myName | greatings }}</div>

                    </li>
                </ul>
            </div>

            <div class="col-4 text-center" [ngSwitch]="true">
                <app-scroll [myTitle]="myTitle" [myText]="myText"></app-scroll>
            </div>

        </div>

        <div class="row justify-content-center align-items-center my-5">
          <div class="col-5 text-center">
            <app-fetcher></app-fetcher>
          </div>
          <div class="col-5 text-center">
            <app-fox-fetcher></app-fox-fetcher>
          </div>
        </div>

    </div>

</main>
