<img class="fs-2 text-info mb-4 fw-bold w-100 rounded" src='{{getFox().url}}' *ngIf="getFox().loaded">

<div class="spinner-border text-danger" role="status" *ngIf="!getFox().loaded">
  <span class="visually-hidden">Loading...</span>
</div>
