<div class="position-fixed top-0 w-100" [ngStyle]="{'z-index': 100}">
  <app-toolbar [appTitle]="'Angular Playground'"></app-toolbar>    
</div>

<div class="container mt-5 pt-5 text-center">
      <button pButton type="button" class="mx-3"> Primary</button>
      <button pButton type="button" label="Secondary" class="p-button-secondary mx-3"></button>
      <button pButton type="button" label="Success" class="p-button-success mx-3"></button>
      <button pButton type="button" label="Info" class="p-button-info mx-3"></button>
      <button pButton type="button" label="Warning" class="p-button-warning mx-3"></button>
      <button pButton type="button" label="Help" class="p-button-help mx-3"></button>
      <button pButton type="button" label="Danger" class="p-button-danger mx-3"></button>
</div>

<app-main></app-main>
<app-footer></app-footer>
