<p-card class="text-center">

  <h3 class="fs-2 fw-bold text-center">
    Somma
  </h3>

  <h4 class="fs-4 fw-bold">{{num1}} + {{num2}}</h4>

  <div class="fs-4 fw-bold">=</div>

  <div class="fs-3 fw-bold mt-4 text-success">
    {{num1 + num2}}
  </div>
</p-card>
