<p-card class="text-center">
    <h3 class="fs-3 fw-bold text-center">
        {{fullName}}
    </h3>
    <h5 class="fs-4">Cibi preferiti:</h5>
    <ul>
        <li *ngFor="let food of foodList">
            {{food}}
        </li>
    </ul>
</p-card>
