@import '/src/styles/theme';
@import '/src/styles/size-variables';
@import '/src/assets/icons/icomoon-bricks-uc/style';

h2 {
  color: $ucs-k1;
  font-size: 20px;

  .ico__nav-actions--info {
    font-size: 18px;
  }

  .ico__nav-actions--info:hover {
    color: $ucs-b6;
  }
}

h2.history {
  font-size: 35px;
}

.history-link {
  span {
    font-size: 14px;
    font-weight: bold;

    .ico {
      vertical-align: text-bottom;
    }
  }
}

.history-link:hover {
  color: $ucs-b6;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  position: relative;
  padding-bottom: 15px;

  table {
    width: max-content;
    min-width: 100%;
    table-layout: auto;

    td {
      padding: 16px 20px 16px;
      vertical-align: middle;
      font-size: 18px;
    }

    td:first-child,
    td:last-child {
      font-size: 14px;
      font-weight: 700;
    }

    thead {
      th {
        background-color: $ucs-k7;
        border: none;
        text-transform: uppercase;
        width: auto;
        font-size: 14px;
        font-weight: 600;
        padding: 16px 20px 16px;

        &:last-child {
          width: 88px;
          cursor: default;
        }
      }
    }

    tbody {
      tr {
        border-bottom-color: $ucs-k5;

        td {
          background-color: $ucs-w;
        }

        td:last-child {
          cursor: pointer;
          text-align: center;
          color: $ucs-b6;
        }
      }

      .ico__nav-actions--forth {
        font-size: 10px;
      }

      .ico__nav-actions--alert--small {
        font-size: 18px;
        color: $ucs-secondary-8;
      }

      .ico__nav-actions--fail--small {
        font-size: 18px;
        color: $ucs-r3;
      }

      .ico__nav-actions--time {
        font-size: 18px;
        color: $ucs-k1;
      }

      .ico__nav-actions--success--small {
        font-size: 18px;
        color: $ucs-g4;
      }

      .ico__nav-actions--unsuccess-small {
        display: inline-block;
        height: 19px;
        width: 19px;
        background-size: contain !important;
        background: url('/assets/icons/unsuccess-small.svg') no-repeat center;
      }
    }

    tr {
      margin-right: 70px;
    }

    th:last-child,
    td:last-child {
      position: sticky;
      right: 0;
      z-index: 2;
      box-shadow: 1px 0px 0px 0px $ucs-k5 inset;
      -webkit-box-shadow: 1px 0px 0px 0px $ucs-k5 inset;
      -moz-box-shadow: 1px 0px 0px 0px $ucs-k5 inset;
    }
  }

  .empty-table {
    font-size: 18px;
    padding: 18px 10px;
    width: 100%;
    border-bottom: 1px solid $ucs-k5;
    font-size: 18px;
    font-weight: 400;
  }
}

.sortable {
  cursor: pointer;
}

.sortable:not(.asc):not(.desc)::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 12px;
  background-image: url('/assets/icons/sortable.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.sortable.asc::after,
.sortable.desc::after {
  font-family: '#{$icomoon-font-family}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  margin-left: 8px;
}

.sortable.asc::after {
  content: '\e996';
}

.sortable.desc::after {
  content: '\e995';
}

.bricks-tooltip {
  position: relative;
  font-size: 18px;
}

.bricks-tooltip:hover {
  color: $ucs-b6;
}

.bricks-tooltip:hover::after {
  content: attr(tooltip-content);
  display: block;
  background-color: $ucs-b2;
  border-radius: 4px 4px 4px 0px;
  width: 200px;
  padding: 10px 15px;
  font-size: 18px;
  position: absolute;
  font-weight: 400;
  left: 7.3px;
  top: -115px;
  border: 1.9px solid rgba(144, 144, 144, 0.6);
  z-index: 98;
  color: initial;
}

.bricks-tooltip:hover::before {
  content: '';
  position: absolute;
  display: block;
  height: 24px;
  width: 24px;
  background-size: contain !important;
  background: url('/assets/icons/tooltip-triangle.svg') no-repeat center;
  top: -30px;
  left: 7.3px;
  z-index: 99;
}

.pagination {
  margin: auto;
  background-color: $ucs-k7;
  height: 45px;
  margin-top: 10px;
  padding: 0 8px;

  button {
    border: none;
    background: none;
    padding: 0;
  }

  .page-item:first-child {
    margin-left: auto;
  }

  .page-item {
    display: flex;
    align-items: center;

    .page-link {
      border: none;
      border-radius: inherit;
      background: none;
      font-size: 14px;
      font-weight: $font-weight-bold;

      &[aria-label='Next'],
      &[aria-label='Previous'] {
        display: flex;

        i {
          font-size: 12px;
          line-height: 24px;
        }
      }
    }

    &.active {
      .page-link {
        color: $ucs-b6;
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }
    }

    &:not(.active):not([disabled]) {
      .page-link {
        color: $ucs-k1;
        font-weight: $font-weight-bold;
      }
    }

    &[disabled] i {
      color: $ucs-k5;
    }

    &:not([disabled]) {

      span[aria-label='Next'],
      span[aria-label='Previous'] {
        i {
          color: $ucs-b6;
        }
      }
    }
  }
}

::ng-deep {
  .tooltip {
    --bs-tooltip-max-width: 250px;
    --bs-tooltip-bg: $ucs-b2;
    --bs-tooltip-opacity: 1;
    --bs-tooltip-margin: 20px;

    .tooltip-inner {
      background-color: $ucs-b2;
      padding: 10px 15px;
      color: #000;
      font-size: 18px;
      text-align: left;
    }

    .tooltip-arrow {
      color: $ucs-b2;
    }
  }
}

.empty-data {
  height: 313px;

  .ico__nav-actions--info-large {
    display: block;
    height: 50px;
    width: 50px;
    background-size: contain !important;
    background: url('/assets/icons/info-large.svg') no-repeat center;
  }

  .description {
    font-size: 18px;
  }

  .title {
    font-size: 30px;
    font-weight: 600;
  }
}

.table-loader {
  height: 315px;
  align-items: center;
  background-color: $ucs-k7;
  display: flex;
  justify-content: center;
}
