<div class="d-flex justify-content-between">
  <h2 class="fw-bolder mb-20 p-0" *ngIf="!isInHistoryPage">
    {{ "dpc-datool.requestTable.captionPendingTable" | translate | uppercase }}
    <span
      class="ms-2 align-middle"
      [ngbTooltip]="tooltipContent"
      placement="auto"
    >
      <i class="ico ico__nav-actions--info"></i>
    </span>
  </h2>
  <h2 class="history fw-bolder mb-20 p-0" *ngIf="isInHistoryPage">
    {{ "dpc-datool.requestTable.captionHistoryTable" | translate | uppercase }}
  </h2>

  <a
    class="history-link"
    routerLink="/da-tool/pending-requests-history"
    *ngIf="!isInHistoryPage"
  >
    <span>{{
      "dpc-datool.requestFilters.historyLink" | translate | uppercase
    }}</span>
    <span><i class="ico ico__nav-actions--forth ms-2"></i></span>
  </a>
</div>

<div *ngIf="!areRequestsLoaded" class="table-loader">
  <app-loader
    size="large"
    animation="spinner"
    color="dark"
    [fullPage]="false"
    [textLoader]="'dpc-datool.requestFilters.textLoader' | translate"
  ></app-loader>
</div>

<wkp-requests-filters
  *ngIf="isInHistoryPage && areRequestsLoaded"
  (onSearch)="getSearchName($event)"
  (onFilters)="getFilters($event)"
></wkp-requests-filters>

<div class="table-container mt-10" *ngIf="areRequestsLoaded">
  <table class="table m-0">
    <thead>
      <tr>
        <th scope="col">
          {{ "dpc-datool.requestTable.head.status" | translate | uppercase }}
        </th>
        <th
          scope="col"
          *ngIf="getVisibleRequests().length >= 2"
          class="sortable"
          (click)="sortColumn('tool')"
          [class]="getColumnClass('tool')"
        >
          {{ "dpc-datool.requestTable.head.tool" | translate | uppercase }}
        </th>
        <th scope="col" *ngIf="getVisibleRequests().length < 2">
          {{ "dpc-datool.requestTable.head.tool" | translate | uppercase }}
        </th>
        <th
          scope="col"
          *ngIf="getVisibleRequests().length >= 2"
          class="sortable"
          (click)="sortColumn('createdAt')"
          [class]="getColumnClass('createdAt')"
        >
          {{ "dpc-datool.requestTable.head.date" | translate | uppercase }}
        </th>
        <th scope="col" *ngIf="getVisibleRequests().length < 2">
          {{ "dpc-datool.requestTable.head.date" | translate | uppercase }}
        </th>
        <th scope="col">
          {{ "dpc-datool.requestTable.head.id" | translate | uppercase }}
        </th>
        <th scope="col">
          {{ "dpc-datool.requestTable.head.type" | translate | uppercase }}
        </th>
        <th
          scope="col"
          *ngIf="getVisibleRequests().length >= 2"
          class="sortable"
          (click)="sortColumn('initiatorName')"
          [class]="getColumnClass('initiatorName')"
        >
          {{ "dpc-datool.requestTable.head.initiator" | translate | uppercase }}
        </th>
        <th scope="col" *ngIf="getVisibleRequests().length < 2">
          {{ "dpc-datool.requestTable.head.initiator" | translate | uppercase }}
        </th>
        <th
          scope="col"
          *ngIf="getVisibleRequests().length >= 2"
          class="sortable"
          (click)="sortColumn('approverName')"
          [class]="getColumnClass('approverName')"
        >
          {{
            "dpc-datool.requestTable.head.firstApprover" | translate | uppercase
          }}
        </th>
        <th scope="col" *ngIf="getVisibleRequests().length < 2">
          {{
            "dpc-datool.requestTable.head.firstApprover" | translate | uppercase
          }}
        </th>
        <th
          scope="col"
          *ngIf="getVisibleRequests().length >= 2"
          class="sortable"
          (click)="sortColumn('approver2Name')"
          [class]="getColumnClass('approver2Name')"
        >
          {{
            "dpc-datool.requestTable.head.secondApprover"
              | translate
              | uppercase
          }}
        </th>
        <th scope="col" *ngIf="getVisibleRequests().length < 2">
          {{
            "dpc-datool.requestTable.head.secondApprover"
              | translate
              | uppercase
          }}
        </th>
        <th>
          {{ "dpc-datool.requestTable.head.details" | translate | uppercase }}
        </th>

        <th scope="col"></th>
      </tr>
    </thead>
    <ng-container *ngIf="getVisibleRequests().length">
      <tbody>
        <tr *ngFor="let request of getVisibleRequests()">
          <td>
            <i
              *ngIf="request.requestStatus === requestStatus.REQUEST_PENDING"
              class="ico ico__nav-actions--alert--small pe-2 align-top"
            ></i>
            <i
              *ngIf="request.requestStatus === requestStatus.REQUEST_REJECTED"
              class="ico ico__nav-actions--fail--small pe-2 align-top"
            ></i>
            <i
              *ngIf="request.requestStatus === requestStatus.REQUEST_WITHDRAWN"
              class="ico ico__nav-actions--unsuccess-small me-2"
            ></i>
            <i
              *ngIf="
                request.requestStatus === requestStatus.REQUEST_ABORTED ||
                request.requestStatus === requestStatus.REQUEST_EXPIRED
              "
              class="ico ico__nav-actions--time pe-2 align-top"
            ></i>
            <i
              *ngIf="request.requestStatus === requestStatus.REQUEST_APPROVED"
              class="ico ico__nav-actions--success--small pe-2 align-top"
            ></i>
            <span class="align-top">{{
              "dpc-datool.requestTable.body.status." + request.requestStatus
                | translate
                | uppercase
            }}</span>
          </td>
          <td>
            {{
              "dpc-datool.requestTable.body.tool." + request.tool | translate
            }}
          </td>
          <td [innerHTML]="convertTimestampToDate(request.createdAt)"></td>
          <td>
            {{ request.requestId }}
          </td>
          <td>
            {{
              "dpc-datool.requestTable.body.type." + request.requestType
                | translate
            }}
          </td>
          <td>
            {{ request.initiatorName }}
          </td>
          <td>
            {{ request.approverName }}
          </td>
          <td>
            {{ request.approver2Name }}
          </td>
          <td>
            {{ addRequestDetails(request) }}
          </td>

          <td (click)="openDetailsModal(request)">
            <span>{{
              "dpc-datool.requestTable.body.details" | translate | uppercase
            }}</span>
            <i class="ico ico__nav-actions--forth ps-2"></i>
          </td>
        </tr>
      </tbody>
    </ng-container>
  </table>
  <div *ngIf="!pendingRequests.length" class="empty-table">
    {{ "dpc-datool.requestTable.body.empty" | translate }}
  </div>
  <div
    *ngIf="!getVisibleRequests().length && pendingRequests.length"
    class="empty-data w-100 d-flex flex-column justify-content-center align-items-center"
  >
    <i class="ico ico__nav-actions--info-large mb-2"></i>
    <p class="title m-0 p-0 mb-2 fs-3">
      {{ "dpc-datool.requestTable.emptyData.title" | translate }}
    </p>
    <p class="description m-0 p-0">
      {{ "dpc-datool.requestTable.emptyData.description" | translate }}
    </p>
  </div>
</div>

<div
  *ngIf="filteredRequests.length > itemsPerPage && isInHistoryPage"
  class="pagination"
>
  <button
    (click)="previousPage()"
    class="page-item"
    [disabled]="currentPage === 1"
  >
    <span class="page-link" aria-label="Next">
      <i class="ico ico__nav-actions--back"></i>
    </span>
  </button>
  <span
    *ngFor="let page of paginationArray; let i = index"
    class="page-item"
    [class.active]="currentPage === page"
    [attr.aria-active]="currentPage === page"
    (click)="changePage(page)"
  >
    <a class="page-link">
      {{ page }}
    </a>
  </span>
  <button
    (click)="nextPage()"
    class="page-item"
    [disabled]="currentPage === totalPages"
  >
    <span class="page-link" aria-label="Previous">
      <i class="ico ico__nav-actions--forth"></i>
    </span>
  </button>
</div>

<ng-template #tooltipContent>
  {{ "dpc-datool.requestTable.tooltipContent" | translate }}
</ng-template>
