<img class="fs-2 text-info mb-4 fw-bold w-100 rounded" src='{{urlImage}}' *ngIf="isContentLoaded">

<div class="spinner-border text-info" role="status" *ngIf="!isContentLoaded">
  <span class="visually-hidden">Loading...</span>
</div>
