<p-card class="text-center">
  <div class="fs-4 fw-bold mb-2">ID: </div>

  <h3 class="fs-3 fw-bold text-center">
    {{link.id}}
  </h3>
  <div class="fs-4 fw-bold mb-2">URL: </div>
  <h3 class="fs-3 fw-bold">{{link.url}}</h3>
</p-card>
